.THIS .slds-file-selector{
    display: flex;
    min-height:100px;
}
.THIS .slds-file-selector__dropzone{
    flex-grow:1;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.THIS .slds-file-selector__dropzone .slds-file-selector__text{ /*the right label*/
    font-size: 100%;
}