.THIS.forceContentFilesHomeDesktop {
    display : flex;
    flex-flow: column nowrap;
    height:100%;
}
        
.THIS.forceContentFilesHomeDesktop .centerRegion {
    flex-grow: 1;
    display: flex;
    background-color: var(--lwc-colorBackgroundAlt2,rgb(243, 242, 242));
	overflow:hidden;
}
        
.THIS.forceContentFilesHomeDesktop .leftNav {
    background-color: var(--lwc-colorForegroundPrimary,rgb(255, 255, 255));
    flex: 0 0 auto;
    min-width: 200px;
	width:25%;
    position: relative;
	overflow:auto;
}

                
                
.THIS.forceContentFilesHomeDesktop .fileList {
 	background-color: var(--lwc-colorForegroundPrimary,rgb(255, 255, 255));                   
    border-left: 1px solid var(--lwc-colorBorder,rgb(221, 219, 218));
	width:75%;
    max-width: calc(100% - 200px);
    flex: 1;
    position: relative;
	display:flex;
}
                            
.THIS.forceContentFilesHomeDesktop .slds-illustration {
	width:100%;
	height:100%;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}