.THIS.ctc-list-item {
    margin:1px;
    padding:4px;
    min-width:10rem;
    width:20rem;
    cursor:pointer;
}

.THIS.ctc-list-item:hover {
    background-color:#f3f2f2;
}

.THIS .ctc-icon {
    display: flex;
    border-radius: var(--lwc-borderRadiusMedium,0.25rem);
    line-height: var(--lwc-lineHeightReset,1);
    align-items: center;
}